<!-- <div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <app-sidebar></app-sidebar>
    </div>
    <div class="main-panel">
        <app-menubar></app-menubar>
        <div class="content">
            <app-card></app-card>
            <app-collateral-maintenance></app-collateral-maintenance>
            <app-popup></app-popup>
        <app-rprts></app-rprts>
        <app-table></app-table>
        <app-userdetail></app-userdetail>
        <app-home></app-home>
        </div>
    </div>
</div> -->
<router-outlet></router-outlet>


