.authBackground {
    background-image: linear-gradient(
       rgba(14, 14, 24, 0.8),
       rgba(24, 21, 50, 0.705)
    ),
}
.form-box {
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(207, 192, 145); /* Corrected background color */
    padding: 50px; /* Shortened padding shorthand */
    text-align: center;
  }
  h6 {
    text-align: center;
    color: blue; /* Darker Green */
    background: #f0f5f8;
    font-weight: 600;
    font-family: Georgia, serif;
  }
  h3 {
    text-align: center;
    color: #230d75; /* Darker Green */
    font-weight: 500;
    font-family: Georgia, serif;
  }
  
  h2 {
    text-align: center;
    color: #230d75; /* Darker Green */
    font-weight: 600;
    font-family: Georgia, serif;
  }
